
#C file types to ignore

*.o

*.dll

*.so

*.exe

*.lib

*.def


#Git files

git-pull.sh

git-push.sh

git-status.sh


build_official*
bin/sys_error.txt
bin/logs/*

bin/main/*
bin/zone/*
bin/serverstatus.xml
bin/main_shared/*
bin/cod4x18_dedrun
