#C file types to ignore

*.o
*.dll
*.so
*.exe
*.lib
*.def
*.ff
*.iwd
*.bsp
*.log
src/bspc/*.obj

#Git files

git-pull.sh
git-push.sh
git-status.sh


build_official*
bin/sys_error.txt
bin/logs/*

bin/main/*
bin/zone/*
bin/serverstatus.xml
bin/main_shared/*
bin/cod4x18_dedrun
bin/cod4x18_dedrun_dbg
src/steam_api/
lib/*.a

plugins/libcom_plugin.a

#T-Max: ignore Qt Creator files to keep project clean
CoD4x_Server.config
CoD4x_Server.creator
CoD4x_Server.files
CoD4x_Server.includes
build_win32_PE_nopause.cmd
build_linux32_ELF_nopause.sh
*.user

#fraggy: ignore .vscode
.vscode/

#T-Max: I don't want to have this plugin inside main project.
plugins/mysql

# Wth this is here?
sys_error.txt

#T-Max: build dir
cmake-build-debug
*build*

#T-Max: CLion dirs
.idea

#T-Max: Zlib stuff
zconf.h.included
zconf.h